.active.note-card {
    opacity: .85;
}

.note-card {
    opacity: 1;
    margin-top: .5rem;
    padding: .5rem;
    background-color: rgb(51, 48, 47);
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity .35s;
}

.note-card:hover {
    opacity: .85;
}

.card-name {
    font-family: 'Cormorant', serif;
    font-size: 1.25rem;
    font-weight: 500;
}

.card-content {
    font-size: .85rem;
    color: rgb(200, 200, 200);
}

.content-holder {
    max-height: 3.75rem;
    overflow: hidden;
}

.name-holder {
    overflow: hidden;
    min-width: 1.5rem;
    max-height: 1.5rem;
}

.blur {
    box-shadow: 10px 5px 5px red;
}
