.note-display {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    height: auto;
}

.note-display > * {
    border: none;
}

.note-display > *:focus {
    outline: none;
}

.note-display > input {
    height: 10%;
    background-color: darkgrey;
    padding: 1rem;
    font-size: 2rem;
}

.note-display > textarea {
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    font-size: 1rem;
    height: 90%;
    resize: none;
    padding: 1rem;
}
