.side-nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 48, 47);
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
}

.book-create-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-create-div > * {
    border: 0;
    background-color: transparent;
    color: whitesmoke;
}

.book-create-div > input {
    color: whitesmoke;
}

.books-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
