.side-nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 48, 47);
    min-width: 100%;
    max-height: 95vh;
}

.side-top {
    height: 5vh;
    background-color: rgb(107, 95, 92);
    display: flex;
    justify-content: center;
}

.book-create {
    display: flex;
    width: 15vw;
    background-color: transparent;
}

.book-link-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-link-div > a {
    width: 100%;
    height: 2rem;
}

.book-link-btns {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .05;
    transition: opacity .15s;
}

.book-link-div:hover > .book-link-btns {
    opacity: 1;
}

.book-link-btns > button {
    margin: .25rem;
    padding: .25rem;
}

#create-note-field {
    opacity: .5;
    transition: opacity .35s;
    background-color: transparent;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

#create-note-field:hover {
    opacity: 1;
}

#create-note-field:focus {
    opacity: 1;
}

.book-create > button {
    display: none;
}

.books-list {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
