.home-page {
    display: flex;
    flex-direction: row;
    /* background-color: grey; */
    height: 95vh;
}

.books-width{
    min-width: 15%;
}

.notes-width {
    min-width: 20%;
}

/* .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */
