/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body {
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'M PLUS 2', sans-serif;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(51, 48, 47);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,

body, header, nav {
    font-size: 1rem;
    /* color: inherit; */
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/* h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
        font-size: 1rem;
        color: inherit;
        background-color: transparent;
        margin: 0;
        padding: 0;
        outline: 0;
        font-weight: normal;
    } */

ul, ol, li {
    list-style: none;
}

/* body, html, .height-100 {
    height: 100%
} */

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.active {
    font-weight: bold;
}

.limsa {
    background-image: url('./images/limsa.jpg');
}

.uldah {
    background-image: url('./images/uldah.jpg');
}

.grid {
    background-image: url('./images/grid.jpg');
}

div[class*='list-img'][class*='limsa'] {
    background-position: 42% 50%;
}

div[class*='list-img'][class*='uldah'] {
    background-position: 47% 50%;
}

div[class*='list-img'][class*='grid'] {
    background-position: 71% 50%;
}

div[class*='login-banner'][class*='limsa'] {
    background-position: 50% 32.5%;
}

div[class*='login-banner'][class*='uldah'] {
    background-position: 50% 75%;
}

div[class*='login-banner'][class*='grid'] {
    background-position: 50% 50%;
}

.home-img {
    background-image: url('./images/home.jpg');
    background-position: 50% 50%;
}
