.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    height: 5vh;
}

.profile-button {
    margin-right: 1rem;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(200, 200, 200);
    height: 1.75rem;
    width: 2rem;
    color: rgb(200, 200, 200);
    border-radius: 2px;
}

.profile-dropdown {
    background-color: rgba(20, 20, 20, 0.85);
    /* font-size: .75rem; */
    /* border-left: 1px solid rgba(200, 200, 200, .5);
    border-bottom: 1px solid rgba(200, 200, 200, .5); */
    border-bottom-left-radius: 5px;
    padding: 1rem;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.profile-dropdown > ul > li {
    margin: .25rem;
    font-weight: 500;
}

.profile-dropdown > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    border: 1px solid rgba(200, 200, 200, .85);
    border-radius: 2px;
}

.sign-out-button {
    opacity: .85;
}

.logo-top {
    margin-left: 1rem;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: default;
}

.nav-button:hover {
    filter: invert(.25);
    cursor: pointer;
}

.nav-button:active {
    filter: invert(.75);
    cursor: pointer;
}

.nav-side {
    min-width: 15vw;
}

.nav-left {
    display: flex;
    justify-content: right;
}

.nav-msg {
    opacity: 0;
    transition: opacity .5s;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
}
